python-jobspy
psycopg2-binary
sqlalchemy
mmh3
streamlit
matplotlib
seaborn
plotly
fuzzywuzzy
python-Levenshtein
streamlit-aggrid
wordcloud
plombery
requests-html
curl-cffi>=0.5.10
lxml[html_clean]
marimo
json-repair
dirtyjson
python-rapidjson
elasticsearch==7.13
boto3
